@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    Login
    <input name="login" type="input">
    Password
    <input name="password" type="password">
    <button>Authorization</button>
</form>
