@{
    ViewData["Title"] = "Registration";
}

<form method="post">
    Login
    <input name="login" type="input">
    Password
    <input name="password" type="password">
    <button>Registration</button>
</form>
