@{
    Layout = "";    
}
<html>
<head>
    <title>NoNameGame</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/GameClient.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/game.css" /></head>
<body>
    <div class="userInfo">
        <div id="userPortrait" class="portrait"></div>
        <div class="condition">
            <div class="shieldBar">
                <div class="shield" id="userShield"></div>
            </div>
            <div class="HPBar">
                <div class="HP" id="userHP"></div>
            </div>
            <div class="energyBar">
                <div class="energy" id="userEnergy"></div>
            </div>
        </div>
        <div id="userName" class="nameCard"></div>
    </div>
    <div class="targetInfo">
        <div id="targetPortrait" class="portrait"></div>
        <div class="condition">
            <div class="shieldBar">
                <div class="shield" id="targetShield"></div>
            </div>
            <div class="HPBar">
                <div class="HP" id="targetHP"></div>
            </div>
            <div class="energyBar">
                <div class="energy" id="targetEnergy"></div>
            </div>
        </div>
        <div id="targetName" class="nameCard"></div>
    </div>

    <div class="leftMenu">
        <div class="miniMap">
            <div id="minimap" class="MMvisionRound">
            </div>
        </div>
    </div>

    <div class="formBackground">
        <div class="formWindow" id="selectionShip" style="display:none">
            <form class="startForm" method="post" action="">
                <select class="formSelect" name="selectedShip">
                    <option selected value="battleship-r">Red Battleship</option>
                    <option value="battleship-p">Purple Battleship</option>
                    <option value="cruiser-r">Red Cruiser</option>
                    <option value="cruiser-p">Purple Cruise</option>
                    <option value="frigate-r">Red Frigate</option>
                    <option value="frigate-p">Purple Frigate</option>
                </select>
                <select class="formSelect" name="selectedWeapon">
                    <option selected value="missile">Missile Launcher</option>
                    <option value="bullet">Autocannon</option>
                </select>
                <button type="submit">Start</button>
            </form>
        </div>
    </div>
</body>
</html>